.error-image {
    width: 150px;
    height: 150px;
    animation: slide-vertical 1s linear infinite;
}

.error-message {
    color: hsl(0, 0%, 90%);
    font-size: 24px;
    font-weight: 500;
}

.error-container {
    gap: 10px;
}

.error-container a {
    font-style: italic;
}